@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/GitHub/PortFolio-Render/fonts/Noto Sans KR/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/GitHub/PortFolio-Render/fonts/Noto Sans KR/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/GitHub/PortFolio-Render/fonts/Noto Sans KR/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/GitHub/PortFolio-Render/fonts/Noto Sans KR/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/GitHub/PortFolio-Render/fonts/Noto Sans KR/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/GitHub/PortFolio-Render/fonts/Noto Sans KR/regular.ttf') format('truetype');
}
